@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 45, 45, 45; /* #2D2D2D */
  --background-start-rgb: 249, 248, 244; /* #F9F8F4 */
  --background-end-rgb: 249, 248, 244;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
